[submodule "third_party/skia"]
	path = third_party/skia
	url = https://github.com/google/skia.git
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "third_party/harfbuzz"]
	path = third_party/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "third_party/ots"]
	path = third_party/ots
	url = https://github.com/khaledhosny/ots.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/woff2"]
	path = third_party/woff2
	url = https://github.com/google/woff2.git
