// -------------------------------------------------
// BlinKit
// -------------------------------------------------
//   File Name: skia.xcconfig
// Description: Configurations for Skia Project
//      Author: Ziming Li
//     Created: 2019-08-21
// -------------------------------------------------
// Copyright (C) 2019 MingYang Software Technology.
// -------------------------------------------------

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../BlinKit.xcconfig"
#include "../skia.xcconfig"
