// -------------------------------------------------
// BlinKit
// -------------------------------------------------
//   File Name: blink.xcconfig
// Description: Common Configurations for Blink
//      Author: Ziming Li
//     Created: 2019-08-11
// -------------------------------------------------
// Copyright (C) 2019 MingYang Software Technology.
// -------------------------------------------------

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "BlinKit.xcconfig"
#include "skia.xcconfig"

HEADER_SEARCH_PATHS = $(BK_CR_SRC)/third_party/icu/source/common $(inherited)
