// -------------------------------------------------
// BlinKit
// -------------------------------------------------
//   File Name: skia.xcconfig
// Description: Common Configurations for Skia
//      Author: Ziming Li
//     Created: 2019-08-11
// -------------------------------------------------
// Copyright (C) 2019 MingYang Software Technology.
// -------------------------------------------------

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

USER_HEADER_SEARCH_PATHS = $(inherited) $(BK_ROOT)/third_party/skia/include/config $(BK_ROOT)/third_party/skia/include/core $(BK_ROOT)/third_party/skia/include/utils
